
body {
background-color: #4d4dff;
}

header {
    background-color: #e6b800;
    padding:2px;
    border-radius: 15px;
    font-size:16px;
}

header p{
    font-size:20px;
    margin-left:20px;
}

header img{
    margin:10px;
    border-radius:10px;
    float:left;
}

#headerbutton{
    background-color: skyblue;
    width: 100px;
    height: 30px;
    font-size:18px;
    margin-top:20px;
    float:right;
}
#headerbutton:hover{
    background-color: lightblue;
    cursor: pointer;
}

input {
    padding-top: 0.5pt;
}

h1 {
font-weight: BOLD;
font-family: Arial;
}

h2 {
font-family: Times;
font-size: 14;
}

p {
font-family: Times;    
}

table,td,tr{
    border: 1px solid black;
}